{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}

<div class="container">
    <!--
    {% block breadcrumbs %}
    <ul class="nav pull-left">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        {% block breadcrumb-page %}{% endblock breadcrumb-page %}
    </ul>
    {% endblock breadcrumbs %}
    -->
    <!-- navigation -->
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                {% bootstrap_icon "tags" %} uks-project
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if 'uks.view_project' in user.get_all_permissions %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/uks/project_create">New Project</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/uks/project_list">All Projects</a></li>
                    </ul>
                </li>
                {% endif %}
            	 {% if 'uks.view_issuetype' in user.get_all_permissions %}
                    <li><a href="/uks/issuetype_list">Issue type</a></li>
                 {% endif %}
                 {% if 'uks.view_priority' in user.get_all_permissions %}
                    <li><a href="/uks/priority_list">Priority</a></li>
                 {% endif %}
                 {% if 'uks.view_status' in user.get_all_permissions %}
                    <li><a href="/uks/status_list">Status</a></li>
                 {% endif %}
                 {% if 'uks.view_milestone' in user.get_all_permissions %}
                    <li><a href="/uks/milestone_list">Milestone</a></li>
                 {% endif %}
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_anonymous %}
                <li>
                    <a class="lsf-icon" title="user" href="{% url 'auth_password_change' %}">{{ user }}</a>
                </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li><a href="{% url 'django.contrib.auth.views.login' %}">{% bootstrap_icon "login" %} Login</a></li>
                <li><a href="{% url 'registration_register' %}">{% bootstrap_icon "register" %} Register</a></li>
                {% else %}
                <li><a href="{% url 'django.contrib.auth.views.logout' %}?next=/">{% bootstrap_icon "logout" %}
                    Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="row">
        <h1>{% block title %}{% endblock %}</h1>

        {% bootstrap_messages %}

        <div class="span12 box">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
{% endblock %}
