{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{% bootstrap_icon "chevron-right" %}My projects</h3>
            </div>
            <div class="panel-body">
                {% if projects|length == 0 %}
                There is no projects. Click on the following button to create one:
                <a href="/uks/project_create" style="text-decoration:none !important;">
                    <button type="button" class="btn btn-success center-block">
                        New Project
                    </button>
                </a>
                {% else %}
                {% for proj in projects %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="/uks/project_view/{{proj.id}}" style="text-decoration:none !important;">
                            <h3 class="panel-title">{% bootstrap_icon "cloud" %} {{ proj.name }}</h3>
                            <div>{{ proj.git }}</div>
                        </a>
                    </div>
                    <div class="panel-body">
                        {% if proj.description|length < 125 %}
                        <div>{{ proj.description }}</div>
                        {% else %}
                        <div>{{ proj.description|slice:":125"|add:"..."}}</div>
                        {% endif %}
                        <a class="lsf-icon" title="delete" href="{% url 'uks:project_delete' proj.id %}">
                            <button type="button" class="btn btn-danger pull-right">
                                Delete
                            </button>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">{% bootstrap_icon "chevron-right" %} Issues assigned to me</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% if issues_assigned_to_me|length == 0 %}
                        There is no issues assigned to you... Enjoy your day! :)
                        {% else %}
                        {% for issue in issues_assigned_to_me %}
                        <a href="/uks/issue_view/{{issue.id}}" class="list-group-item active">
                            <h4 class="list-group-item-heading">
                                {% bootstrap_icon "tag" %} {{ issue.title }}
                            </h4>
                            <div class="pull-right">
                                <span class="label label-primary">{% bootstrap_icon "cloud" %} {{ issue.project }}</span>
                            </div>
                            {% if issue.description|length < 125 %}
                            <p class="list-group-item-text">{{ issue.description }}</p>
                            {% else %}
                            <p class="list-group-item-text">{{ issue.description|slice:":125"|add:"..." }}</p>
                            {% endif %}
                            <p class="list-group-item-text">
                                <span class="label label-{{issue.status.marker}}">{{ issue.status }}</span>
                                <span class="label label-{{issue.milestone.marker}}">{{ issue.milestone }}</span>
                                <span class="label label-{{issue.issueType.marker}}">{{ issue.issueType }}</span>
                                <span class="label label-{{issue.priority.marker}}">{{ issue.priority }}</span>
                            </p>
                        </a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{% bootstrap_icon "chevron-right" %} Issues created by me</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% if issues_create_by_me|length == 0 %}
                        There is no issue created by you. Enjoy your day! :)
                        {% else %}
                        {% for issue in issues_create_by_me %}
                        <a href="/uks/issue_view/{{issue.id}}" class="list-group-item active">
                            <h4 class="list-group-item-heading">
                                {% bootstrap_icon "tag" %} {{ issue.title }}
                            </h4>
                            <div class="pull-right">
                                <span class="label label-primary">{% bootstrap_icon "cloud" %} {{ issue.project }}</span>
                            </div>
                            {% if issue.description|length < 125 %}
                            <p class="list-group-item-text">{{ issue.description }}</p>
                            {% else %}
                            <p class="list-group-item-text">{{ issue.description|slice:":125"|add:"..." }}</p>
                            {% endif %}
                            <p class="list-group-item-text">
                                <span class="label label-{{issue.status.marker}}">{{ issue.status }}</span>
                                <span class="label label-{{issue.milestone.marker}}">{{ issue.milestone }}</span>
                                <span class="label label-{{issue.issueType.marker}}">{{ issue.issueType }}</span>
                                <span class="label label-{{issue.priority.marker}}">{{ issue.priority }}</span>
                            </p>
                        </a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="jumbotron">
    <div class="container">
        <h1>Welcome!</h1>
        <p>
            The uks-project is a simple issue tracking web application.
            You can create multiple projects, linking them to git based repositories, linking issues to the commits,
            etc...
        </p>
        <p>
            If you are not registered yet, you can start by clicking on Register button.
        </p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'registration_register' %}">{% bootstrap_icon "register" %}
            Register</a></p>
    </div>
</div>


{% endif %}
{% endblock %}

