
{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumb-page %} Commit List {% endblock breadcrumb-page %}

{% block title %}
<h1>Commit</h1>
{% endblock %} {% block content %}
<table class="table">
    <tr>
    <th>Hashcode</th>
    <th>Message</th>
    <th>Description</th>
    <th>Project</th>
    <th>Issue</th>
    <th>Link</th>
    </tr>
    {% for commit in object_list %}
   <tr>
    <td>{{ commit.hashcode }}</td>
    <td>{{ commit.message }}</td>
    <td>{{ commit.description }}</td>
    <td>{{ commit.project }}</td>
    <td>{{ commit.issue }}</td>
    <td><a class="lsf-icon" title="delete" href="{% url 'uks:link_ic' issue.id commit.id %}">Connect and close</a></td>
    {% endif %}
    </tr>
</table>
{% endblock %}