
{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumb-page %} IssueType List {% endblock breadcrumb-page %}

{% block title %}
IssueType
{% endblock %} {% block content %}
<table class="table table-striped">
<tbody>
    <tr>
    <th>Name</th>
    <th>Key</th>
    <th>Marker</th>
    <th>Project</th>
     <th>Modify</th>
    </tr>
    {% for issuetype in object_list %}
   <tr>
    <td>{{ issuetype.name }}</td>
    <td>{{ issuetype.key }}</td>
    <td><span class="label label-{{issuetype.marker}}">{{issuetype.get_marker_display}}</span></td>
   <td>{% for proj in issuetype.project.all %}
           <a class="lsf-icon" title="edit" href="{% url 'uks:project_edit' proj.id %}">{{ proj }}</a><br>
           {% endfor %}</td>
  <td>
      {% if 'uks.change_issuetype' in user.get_all_permissions %}
     <a class="lsf-icon" title="edit" href="{% url 'uks:issuetype_edit' issuetype.id %}"><span class="glyphicon glyphicon-pencil"></span></a> 
    {% endif %}

    {% if 'uks.delete_issuetype' in user.get_all_permissions %}
 	     <a class="lsf-icon" title="delete" href="{% url 'uks:issuetype_delete' issuetype.id %}"><span class="glyphicon glyphicon-trash"></span></a> 
    {% endif %}
</td>
    </tr>

    
    {% endfor %}
    </tbody>
</table>
{% if 'uks.add_issuetype' in user.get_all_permissions %}
<a class="btn btn-primary pull-right btn" type="button" href="{% url 'uks:issuetype_new' %}"><span class="glyphicon glyphicon-plus-sign"></span>	New issue</a> 
{% endif %} 
{% endblock %}