{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<script>
	function showComments() {
		if (document.getElementById("hidecomments").style.display == 'none') {
			document.getElementById("hidecomments").style.display = '';
		} else {
			document.getElementById("hidecomments").style.display = 'none';
		}
	}
</script>

<div class="page-header">
	<h1>
		{{issue.title}}<small>{% if 'uks.change_issue' in user.get_all_permissions %}
		<a class="lsf-icon-sm pull-right" title="edit" href="{% url 'uks:issue_edit' issue.id %}"><span class="glyphicon glyphicon-pencil"></span>Edit issue</a> {% endif %}
		</small>
	</h1>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-info h3" >
            <div class="panel-heading clearfix">
            {% bootstrap_icon "chevron-right" %}
		        {{issue.title}}
			</div>
			<div class="panel-body">
				<ul class="list-group">
						<li class="list-group-item">
							<h4 class="list-group-item-heading text-left">
                                <p class="list-group-item-text">
                                   Title:  <label class="lsf-icon-sm pull-right">{{issue.title}}</label>
							</h4>
						</li>
                         <li class="list-group-item">
							<h4 class="list-group-item-heading text-left">
                                <p class="list-group-item-text">
                                   Project:  <label class="lsf-icon-sm pull-right">{{issue.project}}</label>
							</h4>
						</li>
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading text-left">
                                <p class="list-group-item-text">
                                   Atribute:  <label class="lsf-icon-sm pull-right">{{issue.atribute}}</label>
							</h4>
						</li>
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading text-left">
                                <p class="list-group-item-text">
                                   Reporter:  <label class="lsf-icon-sm pull-right">{{issue.reporter}}</label>
							</h4>
						</li>
                         <li class="list-group-item">
                             <h4 class="list-group-item-heading text-left">
                                <p class="list-group-item-text">
                                   Assigned to:  <label class="lsf-icon-sm pull-right">{{issue.assigned_to}}</label>
							</h4>
						</li>
                        <li class="list-group-item">
                             <h4 class="list-group-item-heading text-left">
                                <p class="list-group-item-text">
                                   Status:  <label class="lsf-icon-sm pull-right"><span class="label label-{{issue.status.marker}}">{{issue.status}}</span></label>

							</h4>
						</li>
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading text-left">
                                <p class="list-group-item-text">
                                   Milestone:  <label class="lsf-icon-sm pull-right"><span class="label label-{{issue.milestone.marker}}">{{issue.milestone}}</span></label>

							</h4>
						</li>
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading text-left">
                                <p class="list-group-item-text">
                                   IssueType:  <label class="lsf-icon-sm pull-right"><span class="label label-{{issue.issueType.marker}}">{{issue.issueType}}</span></label>

							</h4>
						</li>
                        <li class="list-group-item">
                             <h4 class="list-group-item-heading text-left">
                                <p class="list-group-item-text">
                                   Priority:  <label class="lsf-icon-sm pull-right"><span class="label label-{{issue.priority.marker}}">{{issue.priority}}</span></label>

							</h4>
						</li>
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading text-left">
                                   Description:
                                <br>
                                <br><br>
                                {{issue.description}}
							</h4>
						</li>
				</ul>
			</div>
		</div>
	</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-info h3">
			<div class="panel-heading clearfix">
                <div class='btn-toolbar'>
                 {% bootstrap_icon "chevron-right" %}
                 Comments
                 {% if 'uks.add_comment' in user.get_all_permissions %}
                    <a class="btn btn-primary pull-right btn-sm" type="button" href="{% url 'uks:comment_new' %}"> New comment </a>
                 {% endif %}
                 <button class="btn btn-info pull-right btn-sm" type="button" onclick="showComments();">Show more/less</button>
			    </div>
            </div>
			<div class="panel-body">
				<ul class="list-group">
					{% for comment in comments %} {% if forloop.counter = 1 %}
					<div>{% elif forloop.counter = 10 %}</div> <div id='hidecomments' style="display: none;">
						{% endif %}
						<li class="list-group-item">
							<h4 class="list-group-item-heading text-left">

									<small>{{comment.dateTime}}</small>

							</h4>
							<p class="list-group-item-text">
							<blockquote class="blockquote-reverse">
								<p class='text-info'>{{comment.message}} </a></p>
								<footer> {{comment.author}} </footer>
                            <br>
                                <div class="pull-right">

                                     <span class="label label-primary">
                                        <a class="lsf-icon" title="edit" href="{% url 'uks:comment_edit' comment.id %}">
                                            Edit
                                        </a>
                                    </span>
                                    <label></label>
                                    <span class="label label-primary">
                                        <a class="lsf-icon" title="delete" href="{% url 'uks:comment_delete' comment.id %}">
                                            Delete
                                        </a>
                                    </span>
                                </div>
							</blockquote>
						</li> {% endfor %}
					</div>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}