{% extends "base_project.html" %}
{% load bootstrap3 %}
{% block content %}

<script>
	function showComments() {
		if (document.getElementById("hidecomments").style.display == 'none') {
			document.getElementById("hidecomments").style.display = '';
		} else {
			document.getElementById("hidecomments").style.display = 'none';
		}
	}
</script>

<div class="page-header">
	<h1>
		{{issue.title}}<small>{% if 'uks.change_issue' in user.get_all_permissions %}
		<a class="lsf-icon-sm" title="edit" href="{% url 'uks:issue_edit' issue.id %}"><span class="glyphicon glyphicon-pencil"></span>Edit issue</a> {% endif %}
		</small>
	</h1>
</div>
<form method="post">{% csrf_token %}
      {% bootstrap_form form  %}
</form>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading clearfix">
				Comments
				<button class="btn btn-info pull-right btn-sm" type="button"
					onclick="showComments();">Show more/less</button>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					{% for comment in comments %} {% if forloop.counter = 1 %}
					<div>{% elif forloop.counter = 10 %}</div> <div id='hidecomments' style="display: none;">
						{% endif %}
						<li class="list-group-item">
							<h4 class="list-group-item-heading text-left">

									<small>{{comment.dateTime}}</small>

							</h4>
							<p class="list-group-item-text">
							<blockquote class="blockquote-reverse">
								<p class='text-info'>{{comment.message}}</p>
								<footer> {{comment.author}} </footer>
							</blockquote>
						</li> {% endfor %}
					</div>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}