
{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumb-page %} Issue List {% endblock breadcrumb-page %}

{% block title %}
<h1>Issue</h1>
{% endblock %} {% block content %}
<table class="table">
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Attribute</th>
    <th>Project</th>
    <th>Reporter</th>
    <th>Assigned_To</th>
    <th>Status</th>
    <th>Milestone</th>
    <th>Issuetype</th>
    <th>Priority</th>
    <th>Link</th>
    </tr>

    {% for issue in object_list %}
   <tr>
    <td>{{ issue.title }}</td>
    <td>{{ issue.description }}</td>
    <td>{{ issue.attribute }}</td>
    <td>{{ issue.project }}</td>
    <td>{{ issue.reporter }}</td>
    <td>{{ issue.assigned_to }}</td>
    <td>{{ issue.status }}</td>
    <td>{{ issue.milestone }}</td>
    <td>{{ issue.issueType }}</td>
    <td>{{ issue.priority }}</td>
    <td> <a class="lsf-icon" title="link" href="{% url 'uks:link_ci' commit issue.id%}">Connect</a> </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}