
{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumb-page %} Milestone List {% endblock breadcrumb-page %}

{% block title %}
Milestone
{% endblock %} {% block content %}
<table class="table table-striped">
<tbody>
    <tr>
    <th>Name</th>
    <th>Key</th>
    <th>Marker</th>
    <th>Project</th>
	  <th>Modify</th>
    </tr>

    {% for milestone in object_list %}
   <tr>
    <td>{{ milestone.name }}</td>
    <td>{{ milestone.key }}</td>
    <td><span class="label label-{{milestone.marker}}">{{milestone.get_marker_display}}</span></td>
    <td>{% for proj in milestone.project.all %}
           <a class="lsf-icon" title="edit" href="{% url 'uks:project_edit' proj.id %}">{{ proj }}</a><br>
           {% endfor %}</td>
      <td>
      {% if 'uks.change_milestone' in user.get_all_permissions %}
     <a class="lsf-icon" title="edit" href="{% url 'uks:milestone_edit' milestone.id %}"><span class="glyphicon glyphicon-pencil"></span></a> 
    {% endif %}

    {% if 'uks.delete_milestone' in user.get_all_permissions %}
       <a class="lsf-icon" title="delete" href="{% url 'uks:milestone_delete' milestone.id %}"><span class="glyphicon glyphicon-trash"></span></a> 
    {% endif %}
	</td>
    </tr>    
    {% endfor %}
</tbody>
</table>
{% if 'uks.add_milestone' in user.get_all_permissions %}
<a class="btn btn-primary pull-right btn" type="button" href="{% url 'uks:milestone_new' %}"><span class="glyphicon glyphicon-plus-sign"></span>	New milestone</a> 
{% endif %} 

{% endblock %}