
{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumb-page %} Priority List {% endblock breadcrumb-page %}

{% block title %}
Priority
{% endblock %} {% block content %}
<table class="table table-striped">
<tbody>
    <tr>
    <th>Name</th>
    <th>Key</th>
    <th>Marker</th>
    <th>Project</th>
	 <th>Modify</th>
    </tr>
    {% for priority in object_list %}
   <tr>
    <td>{{ priority.name }}</td>
    <td>{{ priority.key }}</td>
    <td><span class="label label-{{priority.marker}}">{{priority.get_marker_display}}</span></td>
       <td>
           {% for proj in priority.project.all %}
           <a class="lsf-icon" title="edit" href="{% url 'uks:project_edit' proj.id %}">{{ proj }}</a><br>
           {% endfor %}
       </td>
       <td>
      {% if 'uks.change_priority' in user.get_all_permissions %}
      <a class="lsf-icon" title="edit" href="{% url 'uks:priority_edit' priority.id %}"><span class="glyphicon glyphicon-pencil"></span></a> 
    {% endif %}

    {% if 'uks.delete_priority' in user.get_all_permissions %}
       <a class="lsf-icon" title="delete" href="{% url 'uks:priority_delete' priority.id %}"><span class="glyphicon glyphicon-trash"></span></a> 
    {% endif %}
	</td>
    </tr>
{% endfor %}
</tbody>
</table>
    
   
{% if 'uks.add_priority' in user.get_all_permissions %}
<a class="btn btn-primary pull-right btn" type="button" href="{% url 'uks:priority_new' %}">New priority</a>
{% endif %} 
{% endblock %}