{% extends "base_project.html" %} {% load bootstrap3 %} 
{% block breadcrumb-page %}
<li><a href="{% url 'uks:project_list' %}">{{project.name}} </a> <span
	class="divider">/</span></li>
{% endblock breadcrumb-page %} 
{% block content %}
<script>
	function showCommits() {
		if (document.getElementById("hidecommits").style.display == 'none') {
			document.getElementById("hidecommits").style.display = '';
		} else {
			document.getElementById("hidecommits").style.display = 'none';
		}
	}
	function showIssues() {
		if (document.getElementById("hideissues").style.display == 'none') {
			document.getElementById("hideissues").style.display = '';
		} else {
			document.getElementById("hideissues").style.display = 'none';
		}
	}
</script>
{% if 'uks.change_project' in user.get_all_permissions %}
<a class="lsf-icon" title="edit"
	href="{% url 'uks:project_edit' project.id %}">Edit project</a>
{% endif %}
<div class="row">
	<h1>{{project.name}}</h1>
	<div class="col-sm-6">
		<h3>Commits</h3>
		<table class="table" border='1'>
			{% for commit in commits %} {% if forloop.counter = 1 %}
			<tbody>{% elif forloop.counter = 10 %}
			</tbody>
			<tbody id="hidecommits" style="display: none;">
				{% endif %}
				<tr>
					<td>{{commit.hashcode}} <b>{{commit.user}}</b>
						{{commit.dateTime}} {{commit.message}}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type='button' value='Show All/Hide' onclick="showCommits();">
	</div>
	<div class="col-sm-6">
		<h3>Issues</h3>
		<table class="table" border='1'>
			{% for issue in issues%} {% if forloop.counter = 1 %}
			<tbody>{% elif forloop.counter = 10 %}
			</tbody>
			<tbody id="hideissues" style="display: none;">
				{% endif %}
				<tr>
					<td>{{issue.title}} <b>{{issue.reporter}}</b>
						{{issue.issueType}} {{issue.milestone}} {{issue.priority}}
						{{issue.status}}
					</td> {% if 'uks.change_issue' in user.get_all_permissions %}
					<td><a class="lsf-icon" title="edit" href="{% url 'uks:issue_edit' issue.id %}">Edit</a></td> {% endif %} 
						{% if 'uks.change_issue' in user.get_all_permissions %}
					<td><a class="lsf-icon" title="edit" href="{% url 'uks:issue_edit' issue.id %}">View</a></td> {% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type='button' value='Show All/Hide' onclick="showIssues();">
		{% if 'uks.add_issue' in user.get_all_permissions %} <input
			type='button' title="add" value='New issue'
			href="{% url 'uks:issue_new' %}">{% endif %}
	</div>
</div>
{% endblock %}
