
{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumb-page %} Project List {% endblock breadcrumb-page %}

{% block title %}
<h1>Project</h1>
{% endblock %} {% block content %}
<table class="table">
    <tr>
    <th>Name</th>
    <th>Key</th>
  {% if 'uks.change_project' in user.get_all_permissions %}
    <th>Update</th>
     {% endif %}
    {% if 'uks.delete_project' in user.get_all_permissions %}
    <th>Delete</th>
     {% endif %}
    </tr>

    {% for project in object_list %}
   <tr>
    <td>{{ project.name }}</td>
    <td>{{ project.key }}</td>
      {% if 'uks.change_project' in user.get_all_permissions %}
 <td>     <a class="lsf-icon" title="edit" href="{% url 'uks:project_edit' project.id %}">Update</a> </td>
    {% endif %}

    {% if 'uks.delete_project' in user.get_all_permissions %}
 <td>       <a class="lsf-icon" title="delete" href="{% url 'uks:project_delete' project.id %}">Delete</a> </td>
    {% endif %}

    </tr>
 <tr>  

    
    {% endfor %}

{% if 'uks.add_project' in user.get_all_permissions %}
<td> <a class="lsf-icon" title="add" href="{% url 'uks:project_new' %}">New</a> </td>
{% endif %} </tr> </table>
{% endblock %}