{% extends "base_project.html" %} 
{% load bootstrap3 %} 
{% block breadcrumb-page %}
<li><a href="{% url 'uks:project_list' %}">{{project.name}} </a> <span
	class="divider">/</span></li>
{% endblock breadcrumb-page %} 
{% block content %}
<script>
	function showCommits() {
		if (document.getElementById("hidecommits").style.display == 'none') {
			document.getElementById("hidecommits").style.display = '';
		} else {
			document.getElementById("hidecommits").style.display = 'none';
		}
	}
	function showIssues() {
		if (document.getElementById("hideissues").style.display == 'none') {
			document.getElementById("hideissues").style.display = '';
		} else {
			document.getElementById("hideissues").style.display = 'none';
		}
	}
</script>
<div class="page-header">
	<h1>
		{{project.name}}<small>{% if 'uks.change_project' in user.get_all_permissions %} 
		<a class="lsf-icon-sm" title="edit" href="{% url 'uks:project_edit' project.id %}"><span class="glyphicon glyphicon-pencil"></span>Edit project</a> {% endif %}
		</small>
	</h1>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading clearfix">
				Commits
				<button class="btn btn-info pull-right btn-sm" type="button"
					onclick="showCommits();">Show more/less</button>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					{% for commit in commits %} {% if forloop.counter = 1 %}
					<div>{% elif forloop.counter = 10 %}</div> <div id='hidecommits' style="display: none;">
						{% endif %}
						<li class="list-group-item">
							<h4 class="list-group-item-heading text-left">
								
									<code>{{commit.hashcode}}</code>
									<small>{{commit.dateTime}}</small>
								
							</h4>
							<p class="list-group-item-text">
							<blockquote class="blockquote-reverse">
								<p class='text-info'>{{commit.message}}</p>
								<footer> {{commit.user}} </footer>
							</blockquote>
						</li> {% endfor %}
					</div>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-warning">
			<div class="panel-heading clearfix">
				Issues
				<button class="btn btn-info pull-right btn-sm" type="button"
					onclick="showIssues();">Show more/less</button>

				{% if 'uks.add_issue' in user.get_all_permissions %} 
				<a class="btn btn-primary pull-right btn-sm" type="button"
					href="{% url 'uks:issue_new' %}"> New issue </a>{% endif %}
			</div>
			<div class="panel-body">
				{% if issues|length == 0%}
				<p class='text-info'>No issues here!</p>
				{% else %} {% for issue in issues%} {% if forloop.counter = 1 %}
				<div class="list-group">{% elif forloop.counter = 10 %}</div>
				<div class='list-group' id='hideissues' style="display: none;">
					{% endif %} <a href="{% url 'uks:issue_edit' issue.id %}" class="list-group-item">
						<h4 class="list-group-item-heading text-left text-primary">
							{{issue.title}}
							<p class='text-right text-info'>{{issue.reporter}}</p>
						</h4>
						<p class="list-group-item-text">
							<span class="label label-{{issue.issueType.marker}}">{{issue.issueType}}
							</span> <span class="label label-{{issue.milestone.marker}}">{{issue.milestone}}</span>
							<span class="label label-{{issue.priority.marker}}">{{issue.priority}}
							</span> <span class="label label-{{issue.status.marker}}">{{issue.status}}
							</span>
						</p>
					</a> {% endfor %}

				</div>
				{% endif %}

			</div>
		</div>
	</div>
</div>
{% endblock %}
