
{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumb-page %} Status List {% endblock breadcrumb-page %}

{% block title %}
Status
{% endblock %} {% block content %}
<table class="table table-striped">
<tbody>
    <tr>
    <th>Name</th>
    <th>Key</th>
    <th>Marker</th>
    <th>Project</th>
	<th>Modify</th>
    </tr>

    {% for status in object_list %}
   <tr>
    <td>{{ status.name }}</td>
    <td>{{ status.key }}</td>
    <td><span class="label label-{{status.marker}}">{{status.marker}}</span></td>
   <td>{% for proj in status.project.all %}
           <a class="lsf-icon" title="edit" href="{% url 'uks:project_edit' proj.id %}">{{ proj }}</a><br>
           {% endfor %}</td>
     <td> 
      {% if 'uks.change_status' in user.get_all_permissions %}
    <a class="lsf-icon" title="edit" href="{% url 'uks:status_edit' status.id %}"><span class="glyphicon glyphicon-pencil"></span></a> 
    {% endif %}

    {% if 'uks.delete_status' in user.get_all_permissions %}
 <a class="lsf-icon" title="delete" href="{% url 'uks:status_delete' status.id %}"><span class="glyphicon glyphicon-trash"></span></a> 
    {% endif %}
 </td> 
    </tr>

    
    {% endfor %}
</tbody>
</table>
{% if 'uks.add_status' in user.get_all_permissions %}
<a class="btn btn-primary pull-right btn" type="button" href="{% url 'uks:status_new' %}">New status</a> 
{% endif %}  
{% endblock %}